.card-wrapper {
  flex-wrap: wrap;
  .page-title {
    margin-bottom: 50px;
    h4 {
      color: var(--text-color) !important;
      font-weight: 700;
      position: relative;
      &::before {
        content: "";
        background-image: url("../../Assets//Image/digonal-ddddtransformed.png");
        width: 188px;
        height: auto;
        position: absolute;
        height: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -10px;
        transform: translatex(88px);
      }
    }
  }
}
