.page-wrapper {
  h4 {
    color: var(--text-color) !important;
    font-weight: 700;
    position: relative;
    &::before {
      content: "";
      background-image: url("../../Assets//Image/digonal-ddddtransformed.png");
      width: 188px;
      height: auto;
      position: absolute;
      height: 60px;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -10px;
      transform: translatex(120px);
    }
  }

  .location-text {
    margin-top: 50px;
    .text-side-map {
      h5 {
        font-weight: 700;
      }
      p {
        max-width: 500px;
        color: var(--text-color);
        font-weight: 400;
      }
    }

  }
}
