* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
html {
  height: 100%;
}
body {
  font-size: 16px;
  direction: rtl;
  font-weight: 400 !important;
  height: 100vh;
  background-color: var(--background) !important;
  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background: #ecf0fd;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--select-color);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--select-color);
  }
}

.modal {
  z-index: 9999999999 !important;
}
.modal-header {
  .btn-close {
    margin: 0 !important;
  }
}
