:root {
  --main-color: #f0a400;
  --text-color: #1b1a17;
  --hamburger-icon: rgb(173, 173, 173);
  --footer-color: #f0a500;
  --page-color: #e6d5b8;
  --select-color: #E45826;
  --hover-color: rgb(173, 173, 173);
}
